@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-9xl text-black font-bold;
}

h2 {
    @apply text-7xl text-black font-bold;
}

h3 {
    @apply text-4xl text-black font-semibold;
}

h4 {
    @apply text-2xl text-black font-semibold;
}

h5 {
    @apply text-xl text-black font-semibold;
}

h6 {
    @apply text-lg text-black;
}

p {
    @apply text-base text-black;
}

.border-primary {
    @apply border-blue-500;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
